* {
  box-sizing: border-box;
}

body.rtl {
  direction: rtl;
}

body {
  margin: 0;
  width: 100vw;
  background: linear-gradient(to left, #4db7d1 5%, #497e85 100%);
  overflow-x: hidden;
}
header{
  position: relative;
  margin-top: 62.17px;
  display: flex;
  justify-content: center;
  background-color: #6bbed1bd;
}
header h1 {
  text-shadow: 3px 3px 3px rgba(68,38,133,0.7);
  align-self: center;
  font-size: 3em;
  color: rgb(0, 31, 133);
}

header img{
  width: 120px;
  height: 120px;
}
table { 
  padding: 5px;
  border-radius: 5px;
}

tr,
td,
th {
  color: #000000;
  border-bottom: 3px solid rgba(58, 56, 56, 0.418);
  text-align: center;
}
th {
  color: #fff;
  font-size: 1.5em;
}
td {
  font-weight: bold;
}
ul {
  cursor: pointer;
}


.cards-container{
  margin: 20px auto;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  width: 60vw;
  font-family: Arial, Helvetica, sans-serif;
}
.card img {
  height: 285px;
}
.card-body  { 
  display: flex !important; 
  flex-flow: column !important;
  gap: 10px;
}

.table-container { 
  margin: 20px auto;
  width: 40vw;
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}


.rate {
  flex-grow: 1;
}

.modal-body{
  display: flex;
  flex-direction: column;
}

.pages-btns {
background-color: darkgrey;
}
.modal-card  {
  margin-top: 62.17px;
  background-color: rgb(255, 202, 57) ;
  padding: 10px ;
  position: fixed ;
  top: 0px ;
  left: 150% ;
  height: 80% ;
  min-width: 300px ;
  text-align: center ;
}
.modal-card div {
  display: flex;
  width: 50%;
  margin: auto;
  justify-items: flex-end;
  background-color: #fff;
  align-items: center;
  border: 1px solid black;
}
.modal-card button {
  background-color: darkgrey;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 2px;
}
.modal-card.open {
  left: 80%;
  transition: left 0.8s;
}
.modal-card img {
  width: 150px;
  height: 150px;
}
.modal-card h3 {
  color: rgb(0, 0, 0);
  text-decoration: overline;
  text-transform: capitalize;
}
.modal-card h4 span {
  color: rgb(0, 0, 0);
}
.book-description {
  text-decoration: underline;
}
.modal-card > p {
  text-align: left;
}

.hidden {
  display: none;
}

.chosen{
  background-color: rgb(229, 36, 255);
}